<div id="<%= dom_id classroom %>">
  <p>
    <strong>Série:</strong>
    <%= classroom.school_year %>
  </p>

  <p>
    <strong>Letra da turma:</strong>
    <%= classroom.letter %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= classroom.year %>
  </p>
</div>
