<div class="text-center">
  <h1>Cadastrar Turma</h1>

  <%= render "form", classroom: @classroom %>

  <br>

  <div>
    <%= link_to "Voltar para turmas", classrooms_path, :class => "text-light"%>
  </div>
</div>