<div id="<%= dom_id student %>">
  <p>
    <strong>Nome:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>CPF:</strong>
    <%= student.document %>
  </p>

  <p>
    <strong>Turma:</strong>
    <%= student.classroom.name %>
  </p>

</div>
