<div class="text-center">
  <h1>Cadastrar Estudante</h1>

  <%= render "form", student: @student %>

  <br>

  <div>
    <%= link_to "Voltar para estudantes", students_path, :class => "text-light"%>
  </div>
</div>
