<div class="text-center">

  <%= render @student %>

  <div>
    <%= link_to "Editar estudante", edit_student_path(@student), :class => "btn btn-orange mx-2" %>
    <%= link_to "Voltar", students_path, :class => "btn btn-orange mx-2" %>

    <%= button_to "Apagar estudante", @student, method: :delete, :class => "btn btn-danger mt-5" %>
  </div>
</div>
