<div class="text-center">
  <h1>Cadastrar Avaliação</h1>

  <%= render "form", rating: @rating %>

  <br>

  <div>
    <%= link_to "Voltar para avaliações", ratings_path, :class => "text-light" %>
  </div>
</div>
