<div id="<%= dom_id subject %>">
  <p>
    <strong>Nome:</strong>
    <%= subject.name %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= subject.year %>
  </p>

  <p>
    <strong>Turma:</strong>
    <%= subject.classroom.name %>
  </p>
</div>
