<div class="text-center">
  <h1>Cadastrar Disciplina</h1>

  <%= render "form", subject: @subject %>

  <br>

  <div>
    <%= link_to "Voltar para disciplinas", subjects_path, :class => "text-light"%>
  </div>
</div>