<div class="text-center">
  <h1>Cadastrar Atividade</h1>

  <%= render "form", lesson: @lesson %>

  <br>

  <div>
    <%= link_to "Voltar para atividades", lessons_path, :class => "text-light"%>
  </div>
</div>
